# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
x64/
Debug/
Release/

# C++ build artifacts
*.obj
*.pdb
*.ilk
*.idb
*.ipch
*.pch
*.tlog
*.log
*.exp
*.lib
*.dll
*.exe

# C# artifacts
*.cache
*.db
